;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dev-http {8000
            {:root "public"
             :push-state/index "home.html"}
            8001
            {:root "public"
             :push-state/index "audition.html"}}

 :dependencies
 [[reagent "1.1.1"]
  [org.clojure/core.async "1.6.673"]
  [funcool/bide "1.7.0"]
  [io.github.nextjournal/markdown "0.4.138"]
  [com.taoensso/tempura "1.5.3"]]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [portal.core]}}}
  :audition {:target :browser
             :output-dir "public/audition/js"
             :asset-path "/audition/js"
             :modules {:main {:entries [audition.core]}}}}}
