;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dev-http {8000
            {:root "public"
             :push-state/index "home.html"}}

 :dependencies
 [[reagent "1.1.1"]
  [org.clojure/core.async "1.6.673"]
  [funcool/bide "1.7.0"]
  [io.github.nextjournal/markdown "0.4.138"]]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [portal.core]}}}}}
