html, body {
    background-color: #242323;
    color: rgb(240, 240, 240);
}

html, body, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, sans-serif;
}

.app-title {
    margin: 10px;
    margin-left: 35px;
    color: #ffa500;
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

.app-title img {
    margin-right: 10px;
}

.page-wrapper {
    padding: 20px;
}

a {
    color: #ffa500;
    text-decoration: none;
}

.active {
    text-decoration: underline;
    color: blue;
}

.error-message {
    background-color: #F05D5E;
    padding: 15px;
    border-radius: 5px;
}

.blueprint {
    width: 300px;
    padding: 10px;
    background-color: #2f2e2e;
    /* border: 1px solid black; */
}

.blueprint.full-blueprint {
    width: 300px;
}

.blueprint.full-blueprint pre {
    width: 300px;
}

.blueprint div {
    margin: 5px;
}

.blueprint .blueprint-title {
    width: 300px;
    font-size: 22px;
    white-space: nowrap;
}

.blueprint.full-blueprint .blueprint-title {
    overflow-wrap: break-word;
    white-space: break-spaces;
}

.ellipsis-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
}

.blueprint-image {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.blueprint-page {
    display: flex;
    justify-content: space-around;
    align-items: start;
    max-width: 700px;
    margin: 0px auto;
    flex-wrap: wrap;
}

.items-list {
    width: 300px;
    padding: 10px;
    background-color: #2f2e2e;
}

.blueprint .blueprint-title a {
    color: white;
}

.blueprint pre {
    max-width: 100%;
    max-height: 100px;
    overflow-x: scroll;
    overflow-y: scroll;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.blueprint img {
    border-radius: 5px;
}

.blueprint-list {
    display: flex;
    flex-wrap: wrap;

    display: inline-flex;
    flex-wrap: wrap;
    width: 99%;
    margin: auto;
    justify-content: center;
}

.new-blueprint > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.new-blueprint > div > label > div {
    margin-bottom: 5px;
}

.blueprint-list-item {
    /* height: 300px;
    width: 300px; */
    /* overflow: hidden; */
    /* background-color: lightgrey; */
    border-top: 1px solid #fca23a;
    margin: 10px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: calc(100% - 40px);
    background-color: #2f2e2e;
    padding: 20px;
}

.menu .menu-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    padding: 10px;
    flex-grow: 1;
    /* background-color: rgba(255, 0, 0, 0.2); */
}

.menu .menu-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 10px;
    /* background-color: rgba(0, 255, 0, 0.2); */
}

.menu-right, .menu-left {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width: 800px) {
    .menu {
        align-items: start;
    }

    .menu .menu-left, .menu .menu-right {
        flex-direction: column;
    }

    .menu .menu-left > div, .menu .menu-right > div {
        margin-bottom: 25px;
    }

    .menu .menu-left {
        align-items: start;
    }

    .menu .menu-right {
        align-items: end;
    }
}

.menu .menu-link {
    color: black;
    background-color: orange;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 2px;
}

.menu .menu-link:hover {
    color: white;
}

.disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.disabled .menu-link {
    cursor: not-allowed;
}

.link-btn, button {
    /* background-color: ; */
    /* height: 20px; */
    /* line-height: 20px; */
    text-align: center;
    width: auto;
    padding: 5px;
    border: 1px solid #fca23a;
    color: #fca23a;
    background-color: transparent;
    border-radius: 3px;
}

button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  } 

.link-btn:hover, button:hover {
    cursor: pointer;
    color: black;
    background-color: #fca23a;
    border: 1px solid #fca23a;
}

.debug {
    max-width: 100%;
    max-height: 300px;
    overflow: scroll;
}

.signup-page label {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}